.jumbotron.homebanner
    %h1 Organize Your Life
    %h3 If life is an open door, you should have an open storage.
    %br
    .btngroup
        = link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg"
        = link_to "Log in", new_user_session_path, class: "btn btn-info btn-lg"
        